# Dependency directories
node_modules/
dist/
tmp/

# Build results
bin/
obj/

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Mac / OS X
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Log files
*.log
logs/

# Environment variables
.env
.env.*
!/.env.example

# Angular cache/build files
.angular/cache/
